{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-restricted-syntax": "off"
  }
}